<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.newrepbook">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>


    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.NewrepBook"
        android:usesCleartextTraffic="true">

<!--        <activity android:name=".MainActivity" android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.VIEW" />-->
<!--                <category android:name="android.intent.category.DEFAULT" />-->
<!--                <category android:name="android.intent.category.BROWSABLE" />-->
<!--                <data android:scheme="http" android:host="google.com" />-->
<!--            </intent-filter>-->
<!--            <meta-data android:name="android.max_aspect" android:value="2.1" /> // 폰 비율 맞추는 코드-->
<!--        </activity>-->

        <activity
            android:name=".practice.SampleMainActivity"
            android:exported="true"
            android:usesCleartextTraffic="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>

        <activity android:name=".situation"></activity>
        <activity android:name=".RegisterActivity"></activity>
        <activity android:name=".loginActivity"
            android:exported="true"
            android:usesCleartextTraffic="true">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".joinActivity"></activity>
        <activity android:name=".PasswordResetActivity"></activity>
        <activity android:name=".CameraActivity"></activity>
        <activity android:name=".GalleryActivity"></activity>
        <activity android:name=".AddPostActivity"></activity>
        <activity android:name=".ui1">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->
<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
        <activity android:name=".listMainActivity"></activity>
        <activity android:name=".MainActivity"
            android:exported="true"
            android:usesCleartextTraffic="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".practice.postprint"></activity>

        <activity
            android:name="com.kakao.sdk.auth.AuthCodeHandlerActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao${NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao88268c08d19d0174931ca484732ec09a" />
            </intent-filter>
        </activity>

        <!--        <meta-data-->
        <!--            android:name="com.kakao.sdk.AppKey"-->
        <!--            android:value="59c346835058cbbc7bc91a283aa5466a"/>-->


    </application>

</manifest>